/* CSS LAYOUT */
/* **************************************************************** */
header{
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav{
    display: flex;
    justify-content:  space-between;
}

/*titulo principal de todas las paguinas*/
h1 {
    text-align: center;
    font-size: 16px;
  }

   /*logo de header*/
h2{

    color: var(--blanco);
}
a{
        color:var(--blanco);
    }
   
   

 /*boton del login*/
 .btn-login{
    background-color: var(--marron);
    width: 100px;
    height:50px;
    cursor: pointer;
}

  /*boton por encima*/
  .btn-login:hover{
    background-color:var(--gris);
}

.btn-login-a{
    color: var(--negro);
    
}

div{
    margin: .4em 0;
}
div label{
    width: 25%;
    float: left;
}

/*espacio entre el login y el header*/
.cuadrado {
   
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 600px;
    flex-direction: column;
}

/*login*/
.cuadrado > .cuadrado-login{
    display: flex;
    background-color: var(--azul);
    width: 400px;
    height: 500px; 
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


div{
    padding: 30px;
}
.imagen_fondo{
    background-image: url(../img/movil/login.webp);
}



input#click {
    /* Ocultamos el boton en escritorio */
    display: none;
}


input#click:checked + nav#menu_interior {
    
    display: block;
    
}

.icono{
    display: none;
}


nav#menu_interior ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#menu_interior ul a {
    display: block;
    width: 8em;
    text-decoration: none;
    padding: .3em 0;
    text-align: center;
    color: var(--blanco);
   
    transition: 1s all;
}

nav#menu_interior ul a:hover {
    background: rgb(42, 104, 104);
}
a.btn-menu{
    background-color: var(--marron); 
 }
 a.btn-menu:hover{
    background-color: rgb(42, 104, 104); 
 }

