/* CSS LAYOUT */
/* **************************************************************** */
header{
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav{
    display: flex;
    justify-content:  space-between;
}

/*titulo principal de todas las paguinas*/
h1 {
    text-align: center;
    font-size: 16px;
  }

   /*logo de header*/
h2{

    color: var(--blanco);
}
a{
        color:var(--blanco);
    }
   
   

 /*boton del login*/
 .btn-login{
    background-color: var(--marron);
    width: 100px;
    height:50px;
    cursor: pointer;
}

  /*boton por encima*/
  .btn-login:hover{
    background-color:var(--gris);
}

.btn-login-a{
    color: var(--negro);
    
}

div{
    margin: .4em 0;
}
div label{
    width: 25%;
    float: left;
}

/*espacio entre el login y el header*/
.cuadrado {
   
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 600px;
    flex-direction: column;
}

/*login*/
.cuadrado > .cuadrado-login{
    display: flex;
    background-color: var(--azul);
    width: 400px;
    height: 500px; 
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.cuadradoPerfil {
   
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 200px;
    flex-direction: column;
}
.cuadradoPerfil > .cuadrado-perfil{
    display: flex;
    background-color: whitesmoke;
    width: 400px;
    height: 400px; 
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.imagen_fondo{
    background-image: url(../img/movil/login.webp);
}



input#click {
    /* Ocultamos el boton en escritorio */
    display: none;
}


input#click:checked + nav#menu_interior {
    
    display: block;
    
}

.icono{
    display: none;
}


nav#menu_interior ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#menu_interior ul a {
    display: block;
    width: 8em;
    text-decoration: none;
    padding: .3em 0;
    text-align: center;
    color: var(--blanco);
   
    transition: 1s all;
}

nav#menu_interior ul a:hover {
    background: rgb(42, 104, 104);
}
a.btn-menu{
    background-color: var(--marron); 
 }
 a.btn-menu:hover{
    background-color: rgb(42, 104, 104); 
 }
 /*formularios/login js */
 .formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}



.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/*  Validacion js  */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

